openai
elevenlabs
pyautogui
pycaw
comtypes
requests
python-dotenv
fastapi
uvicorn
pydantic
python-multipart
numpy
scipy
librosa
sounddevice
PyAudio
SpeechRecognition
openwakeword
mss
Pillow
playwright
psutil
PyGetWindow
pywin32
spotipy
edge-tts
pygame
langdetect